@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi:wght@700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nfont {
  font-family: "Noto Serif Vithkuqi", serif;
}

.mfont {
  font-family: "Ysabeau SC", sans-serif;
}

.sub {
  font-family: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: #f87c44;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f87c44;
}

@media only screen and (max-width: 767px) {
  [data-aos] {
    opacity: 1 !important; /* Override AOS styles to show the element */
    transform: none !important; /* Reset any translations, scales, etc. */
  }
}
